/* ------- nav ------- */
#column_container .adminNav ul
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#column_container .adminNav li
{
    flex: 1;
}

#column_container .adminNav a
{
    display: block;
    border: 0.5rem solid #E80000;
    background: #E80000;
    text-align: center;
    color: #000000;
    text-decoration:none;
    font-weight: bold;
}

#column_container .adminNav a.button
{
    border: 2px outset #000000;
    padding: 2px 35px;
    background-color: #E80000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 2px;

}

#column_container .adminNav a:hover
{
    text-decoration:underline;
    background-color: #000000;
    color: #E80000;
}
