#column_container
{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

body
{
    background: #CCCCCC;
}

header
{
    text-align: center;
    color: #E80000;
    background: #000000;
    border: 0.5rem solid #000000;
    padding: 0.1rem;
    align-items: center;
}

#column_container .main
{
    border: groove #B2B2B3 5px;
    background-color: #B2B2B3;
    text-align: center;
    font-weight: bold;
    font-family: Century;
    align-items: center;
}

#column_container .main .table1
{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: none;
}

#column_container .main table
{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: solid #000000 0.3rem;
    padding: 10px;
}

#column_container .main table th
{
    border-bottom: solid #000000 0.15rem;
}

#column_container .main form
{
    padding: 10px;
}

#column_container .main fieldset
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    padding: 10px;
    width: 500px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #E80000;
    font-family: Century;
    border: #000000 outset 0.2rem;
}

#column_container .main ul
{
    text-align: left;
}

#column_container .main ul .sub_list0 a
{
    text-decoration: none;
    color: #E80000;
}

#column_container .main ul a:visited
{
    text-decoration: none;
}
