footer
{
    background : #000000;
    border-top: 0.5rem #000000 solid;
    border-bottom: 0.5rem #000000 solid;
    color: #CCCCCC;
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: right;
}